.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
}

.input {
    width: 100%;
    max-width: 350px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2em 0;
    padding: 12px;
}